.sidebar li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    font-size: 1.2em;
    cursor: pointer;
    color: var(--color-gray-500);
    transition: .5s;
    padding: 10px 15px;
    border-radius: 5px;
}

.sidebar li.selected {
    color: white;
    font-weight: 500;
    background-color: var(--color-primary);
    opacity: 60%;
}

.sidebar li:hover {
    background-color: var(--color-primary);
    color: white;
}