.sidebar nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;

    &>div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;
        width: 100%;
        color: var(--color-gray-500);
    }

    &>.active, &>div>div>.active  {
        background-color: var(--color-gray-100);
        color: var(--color-primary);
        font-weight: 500;
    }
}


@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.sidebar nav > div > div:last-child {
    animation: slideDown 0.2s ease-out;
}