@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #4ba54a
}
  
* {
    outline: none;
    list-style: none;
}

body {
    font-family: "Montserrat", sans-serif;
}